
<div style="margin-top: 80px; margin-bottom: 80px" class="d-flex justify-content-center">
  
      <form class="form-inline my-8 my-lg-9">
      <input style="width: 300px; margin-right: 3px" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>

<div style="margin-top: 10px; margin-bottom: 10px" class="d-flex justify-content-center">
  <h4>Active Investment Requests</h4>
</div>
<hr>


<% user_buffer = [] %>
<% @users.each do |user_to_push| %>

<% if user_buffer.length < 4 %>
<% user_buffer.push(user_to_push) %>
<% end %>


<% if user_buffer.length == 4 %>
<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5"><%= user_buffer[0].full_name %> </h2>
      <img style="max-height: 128px; max-width: 128px"src="<%=user_buffer[0].image_url%>" class="rounded-circle mx-auto d-block" alt="...">
      <div class="text-center">
        Requesting $5,000
      </div>
      <div class="text-center">
        Patronus Risk Score: 0.18 (High)
      </div>
      <div class="text-center">
        Expected Return: $100
      </div>
      <div class="text-center">
        Term: 8 months
      </div>
    </div>
    <div class="bg-light box-shadow mx-auto text-dark" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0; margin: 10px auto; padding: 40px">
      I recently got an offer from a tech company and will be compensated quite well. However, I will not recieve my paycheck until a month after I officially start. Until then, I need money to be able to pay for transportation and lodging until my new lease starts.
    </div>
  </div>

  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-5"><%= user_buffer[1].full_name %> </h2>
      <img src="<%=user_buffer[1].image_url%>" class="rounded-circle mx-auto d-block" alt="...">
      <div class="text-center">
        Requesting $5,000
      </div>
      <div class="text-center">
        Patronus Risk Score: 0.18 (High)
      </div>
      <div class="text-center">
        Expected Return: $100
      </div>
      <div class="text-center">
        Term: 8 months
      </div>
    </div>

    
    <div class="bg-dark box-shadow mx-auto text-white" style="padding: 20px; width: 80%; height: 300px; border-radius: 21px 21px 0 0; padding: 40px">
      I recently got an offer from a tech company and will be compensated quite well. However, I will not recieve my paycheck until a month after I officially start. Until then, I need money to be able to pay for transportation and lodging until my new lease starts.
    </div>
  </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-5"><%= user_buffer[2].full_name %> </h2>
      <img src="<%=user_buffer[2].image_url%>" class="rounded-circle mx-auto d-block" alt="...">
      <div class="text-center">
        Requesting $5,000
      </div>
      <div class="text-center">
        Patronus Risk Score: 0.18 (High)
      </div>
      <div class="text-center">
        Expected Return: $100
      </div>
      <div class="text-center">
        Term: 8 months
      </div>
    </div>
    <div class="bg-dark text-light box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0; padding: 40px">
      I recently got an offer from a tech company and will be compensated quite well. However, I will not recieve my paycheck until a month after I officially start. Until then, I need money to be able to pay for transportation and lodging until my new lease starts.
    </div>
  </div>
  <div class="bg-primary mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5"><%= user_buffer[3].full_name %> </h2>
      <img src="<%=user_buffer[3].image_url%>" class="rounded-circle mx-auto d-block" alt="...">
      <div class="text-center">
        Requesting $5,000
      </div>
      <div class="text-center">
        Patronus Risk Score: 0.18 (High)
      </div>
      <div class="text-center">
        Expected Return: $100
      </div>
      <div class="text-center">
        Term: 8 months
      </div>
    </div>
    <div class="bg-light text-dark box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0; padding: 40px">
      I recently got an offer from a tech company and will be compensated quite well. However, I will not recieve my paycheck until a month after I officially start. Until then, I need money to be able to pay for transportation and lodging until my new lease starts.
    </div>
  </div>
</div>

<% user_buffer = [] %>
<% end %>

<% end %>